.App{
  background-color: antiquewhite;
}
.creation{
  background-color: rgb(106, 138, 120);
  text-align: center;
  color: ghostwhite  ;
}
.detailing{
  text-align: center;
  background-color: lightblue;
  color: slateblue;
}
.searching{
  text-align: center;
  background-color: slategray;
  color: azure;
}
.listing{
  background-color: burlywood;
  
}